button,
select {
  height: 32px;
  margin: 0;
  padding: 6px 12px 6px 12px;
}

.todo-filters {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.todo-filters > * + * {
  margin-left: 5px;
}

h2 {
  font-size: 1.5rem;
}
